<tr>
    <td style="padding: 0px 20px;">
        Hi 陈伟,
    </td>
</tr>
<tr>
    <td valign="middle" style="line-height:24px;padding: 15px 20px;">
        您于 2020年05月17日 19时52分08秒请求邮件, 邮件内容: <br> <%= @mail[:info] %>,
    </td>
</tr>
<tr>
    <td valign="left" style="font-size: 36px;color: #323A45;">
        <div class="code">
            <div class="small content">
                登录地址：https://t.wunderlist.com
            </div>
            <div class="small content">
                登录账户：<a data-auto-link="1" href="mailto:cxhyun@126.com">cxhyun@126.com</a> 或 xxx </div>
        </div>
    </td>
</tr>
<tr>
    <td class="content">
        <p style="margin: 8px 0;">可以点击<a target="_blank" href="https://t.wunderlist.com">这里</a>进行查看。
        </p>
        <p class="text-danger">
            移动列表有三个简单步骤：
        </p>
        <ol>
            <li class="text-primary">
                下载待办应用。
            </li>
            <li class="text-warning">
                使用 Microsoft 帐户登录。
            </li>
            <li class="text-success">
                单击待办中的弹出窗口，或转至“设置”，然后选择“导入”。它
            </li>
            <li class="text-info">
                单击待办中的弹出窗口，或转至“设置”，然后选择“导入”。它
            </li>
        </ol>
        <table cellspacing="0" cellpadding="0" border="0" class="we-table">
            <thead>
                <tr class="">
                    <th colspan="1">
                        日期
                    </th>
                    <th>
                        姓名
                    </th>
                    <th colspan="2">
                        地址
                    </th>
                    <th>
                        邮编
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="1">
                        2016-05-03
                    </td>
                    <td>
                        王二
                    </td>
                    <td>
                        上海
                    </td>
                    <td>
                        普陀区
                    </td>
                    <td>
                        200333
                    </td>
                </tr>
                <tr>
                    <td>
                        2016-05-02
                    </td>
                    <td>
                        王二
                    </td>
                    <td>
                        上海
                    </td>
                    <td>
                        普陀区
                    </td>
                    <td>
                        200333
                    </td>
                </tr>
                <tr>
                    <td>
                        2016-05-04
                    </td>
                    <td>
                        王二
                    </td>
                    <td>
                        上海
                    </td>
                    <td>
                        普陀区
                    </td>
                    <td>
                        200333
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td class="content">
        xxx 团队
        <a href="https://t.wunderlist.com" target="_blank"><button type="button" class='btn btn-success'>立即填写</button></a>
        <div class="card-body">
            <button class="mb-1 btn btn-secondary" type="button">Secondary</button>
            <button class="mb-1 btn btn-primary" type="button">Primary</button>
            <button class="mb-1 btn btn-success" type="button">Success</button>
            <button class="mb-1 btn btn-info" type="button">Info</button>
            <button class="mb-1 btn btn-warning" type="button">Warning</button>
            <button class="mb-1 btn btn-danger" type="button">Danger</button>

            <button class="btn btn-secondary" type="button"><strong>button tag</strong></button>

            <a class="btn btn-secondary" href="#"><strong>anchor tag</strong></a>
        </div>
    </td>
</tr>
