
    <div class="weui-footer">
      <p class="weui-footer__links">
        <a href="http://cheenwe.cn" class="weui-footer__link">Sale Me</a>
      </p>
      <p class="weui-footer__text">Copyright © 2019 chenwei</p>
    </div>

    <style>
      .weui-footer {
        margin: 25px 0 10px 0;
      }
    </style>