<div class="b_tabs" id="b_tabs">
    <!-- 导航 -->
    <div class="menuSideBar">
        <ul class="nav nav-list" id="menuSideBar">
            <li class="nav-header"><b>导航菜单</b></li>
            <li class="divider"></li>
            <li mid="tab1" funurl="/sy/services"><a tabindex="-1" href="javascript:void(0);">设备列表</a></li>
            <li mid="tab2" funurl="/sy/infos"><a tabindex="-1" href="javascript:void(0);"> 心跳数据</a></li>
            <li mid="tab3" funurl="/sy/alarms"><a tabindex="-1" href="javascript:void(0);"> 异常上报</a></li>
            <li mid="tab4" funurl="/sy/configs"><a tabindex="-1" href="javascript:void(0);"> 配置</a></li>
        </ul>
    </div>



    <!-- 标签 -->
    <div class="span10" id="mainFrameTabs">
      <ul class="nav nav-tabs" role="tablist">
          <!-- <li role="presentation" class="noclose quanping"><a href="javascript:void(0);" onclick="showFull();" data-toggle="tab">全屏</a></li> -->
          <li role="presentation" class="active noclose"><a href="#bTabs_navTabsMainPage" data-toggle="tab">首页</a></li>
      </ul>

      <div class="tab-content">
          <!-- 默认标签页/首页 -->
          <div class="tab-pane active" id="bTabs_navTabsMainPage">
              <iframe frameborder="0" scrolling="yes" src="/sy"></iframe>
              <!-- <h2 style="margin-top:2%">欢迎使用</h2>
              <div>Welcome to use bTabs plugin!<br></div> -->
          </div>
      </div>
    </div>

    <nav>
        <ul class="level">
            <li>
                <b>关闭</b>
                <ul class="two">
                    <a href="javascript:;" onclick="close_curr()"><li>当前标签</li></a>
                    <a href="javascript:;" onclick="close_all()"><li>所有标签</li></a>
                    <a href="javascript:;" onclick="close_other()"><li>其他标签</li></a>
                </ul>
            </li>
        </ul>
    </nav>

</div>
