<p id="notice"><%= notice %></p>

<p>
  <strong>Train:</strong>
  <%= @lc_carriage.train_id %>
</p>

<%= link_to 'Edit', edit_lc_carriage_path(@lc_carriage) %> |
<%= link_to 'Back', lc_carriages_path %>
